
/* all flex box, wrappers, and mwdia queries here*/
/*started to configure with grid, then kept with flexbox for now. Use grid in the future for responsive sites
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  box-sizing: border-box; 
}
started to configure with grid, then kept with flexbox for now. Use grid in the future for responsive sites*/


.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  padding: 10px;
  /*border-style: dashed;
  border-color: black;*/
}

.col-1 {
  flex: 1;
  padding: 10px;
  /*border-style: dashed;
  border-color: black;*/
  flex-basis: 33.333%%;
  -webkit-flex-basis: 33.333%;
}

.col-2 {
  flex: 1;
  padding: 10px;
  /*border-style: dashed;
  border-color: black;*/
  flex-basis: 33.333%;
  -webkit-flex-basis: 33.333%;
}

.col-3 {
  flex: 1;
  padding: 10px;
  /*border-style: dashed;
  border-color: black;*/
  flex-basis: 33.333%;
  -webkit-flex-basis: 33.333%;
}

@media (max-width: 900px) {
  .flex-grid {
    display: block;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 40px;    /* Footer height */
}
/* all flex box, wrappers, and mwdia queries here*/

html, body  { 
  height: 100%;
  width: 100%;
}

body {
  background-color: #eae8df;
  text-align: center;
  margin: 0px
}

.header {
	background-color: #f7f4e9;
  color: #efefef;
  height: 120px;
  padding: 5px;
}

p {
	font-family: poynter-gothic-text, sans-serif;
	font-style: normal;
	font-weight: 300;
}

@font-face {
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url ("https://use.typekit.net/mcs4nef.css")
}

@font-face {
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url ("https://use.typekit.net/mcs4nef.css");
}

.serif {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.serif2 {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

img {
	display: inline-block;
	padding-bottom: 0px;
}

.img-container {
  text-align: center;
  border-right: 1px;
  border-left: 1px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 0px 0px;
  border-width: 1px;
  border-top: 0px;
  border-color: #b8c5db;
  border-style: solid;

  }

.img-container2 {
  text-align: right;
  border-right: 1px;
  border-left: 1px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 4px 4px;
  border-width: 1px;
  border-top: 0px;
  border-color: #b8c5db;
  border-style: solid;

  }


.img-containerp {
  text-align: right;
  border-right: 1px;
  border-left: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-top: 1px;
  border-color: #b8c5db;
  border-style: solid;
  max-width: 90%;
  max-height: 90%;
  }

li {
  background-color: #2d2d28;
  display: inline-block; 	
  font-size: 20px;
  padding: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

a {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  background-color: #2d2d28;
  cursor: hand;
}

h1 {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

a.navstyle {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  background-color: #2d2d28;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

a.navstyle:link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #2d2d28;
  width: 100%;
}

a.navstyle:visited {
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #2d2d28;
  width: 100%;
}

a.navstyle:hover {
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #ebe9df;
  width: 100%;
}

a.navstyle:active {
  color: white;
  font-size: 120px;
  text-decoration: none;
  background-color: #2d2d28;
  width: 100%;
}

#nav {
  background-color: #2d2d28;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}

a:link {
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #2d2d28;
  color: white;
  text-decoration: none;
  margin-top: 0px;
  padding-top: 0px
}

a:visited {
  color: white;
  text-decoration: none;
  background-color: #2d2d28;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: #ebe9df;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 1;

}

 a:active {
  color: white;
  text-decoration: none;
  background-color: #d1cdc4;
}

.middlecontent {
  margin-left: 10px;
  margin-right: 10px;
}

.middlecontent.first-child {
  margin-left: 20px;
}

.middlecontent.last-child {
  margin-right: 20px;
}

.section {
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  color: #333333;
  width: 90%; 
  margin: auto; /*centers the div*/
  border-radius: 4px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
  margin-bottom: 60px;
  margin-top: 20px;
}

.section2 {
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  color: #333333;
  width: 90%; 
  margin: auto; /*centers the div*/
  border-radius: 4px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
  margin-bottom: 60px;
  margin-top: 20px;
}


.sectionLink {
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: none;
}

a.sectionLink{
  background-color: white;
}

a.sectionLink:link {

  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: white;
  color: black;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 0px
}

a.sectionLink:visited {
  color: black;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  background-color: white;
}

a.sectionLink:hover {
  color: #71c447;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: underline;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.sectionLink:active {
  color: black;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  background-color: white;
} 

.sectionLink2 {
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: none;
}

a.sectionLink2{
  background-color: white;
}

a.sectionLink2:link {

  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: white;
  color: black;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 0px
}

a.sectionLink2:visited {
  color: black;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  background-color: white;
}

a.sectionLink2:hover {
  color: #71c447;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: underline;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.sectionLink2:active {
  color: black;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  background-color: white;
} 

.greenbutton{
  text-align: center;
  line-height: 225%;
  background-color: #71c447;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  margin: 3px;
  border: 1px;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  
}

a.greenbutton:link {
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: #71c447;
  color: black;
  text-decoration: none;
  margin-top: 0px;
  padding-top: 0px
}

a.greenbutton:visited {
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  background-color: #71c447;
}

a.greenbutton:hover {
  color: white;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  background-color: #2d2d28;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.greenbutton:active {
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  background-color: none;
}

.sectionitemtitle {
  
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  /*background-color: #642d96;*/
  background-color: #eaebe1;
  color: #333333;
  /*color: #ffffff;/*
  margin: auto; /*centers the div*/
  border-radius: 4px 4px 0px 0px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
  
}


.sectionitem {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #333333;
  margin: auto; /*centers the div*/
  border-radius: 0px 0px 0px 0px;
  border-width: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-color: #b8c5db;
  border-style: solid;
  height: 140px; /* look at a better way than specifying a fixed height */
}

.articlestyle {
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  color: #333333;
  display: inline-block;
  background-color: #bce8ca;
  padding-top: 30px;
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
  margin: auto; /*centers the div*/
  margin-bottom: 80px; /* I should not have to add this */
}


.sectionitemtitle2 {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  color: #333333;
  margin: auto; /*centers the div*/
  border-radius: 4px 4px 0px 0px;
  border-width: 1px;
  border-bottom: 0px;
  border-color: #b8c5db;
  border-style: solid;
  
}

.sectionitem2{
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  color: #333333;
  margin: auto; /*centers the div*/
  border-radius: 0px 0px 4px 4px;
  border-width: 1px;
  border-bottom: 1px;
  border-top: 0px;
  border-color: #b8c5db;
  border-style: solid;
}

.sectionitem2.first-child {
  padding-left: 20px;
}

.sectionitem2.last-child {
  padding-right: 20px;
}

.sectionitemtitle3 {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  /*background-color: #642d96;*/
  background-color: #eaebe1;
  color: #333333;
  /*color: #ffffff;/*
  margin: auto; /*centers the div*/
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
}

.sectionitem3 {
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  /*background-color: #642d96;*/
  background-color: white;
  color: #333333;
  /*color: #ffffff;/*
  margin: auto; /*centers the div*/
  border-radius: 4px 4px 4px 4px;
  border-width: 1px;
  border-color: #b8c5db;
  border-style: solid;
}

.nostyle{
	/* look at clearing all css styles here and just add a styled font to match site */
	/* this is for nav links that link to the current page */
}

.hrstyle {
	width: 60%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#footer {
	height: 40px;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
	color: black;
	font-family: poynter-gothic-text, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	background-color: #dedfe0;
}

.sm {
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #dedfe0;
}

a.sm:link {

  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #dedfe0;
  color: none;
  text-decoration: none;
  margin-top: 0px;
  padding-top: 0px
}

a.sm:visited {
  color: none;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  background-color: #dedfe0;
}

a.sm:hover {
  color: none;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  background-color: #dedfe0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.sm:active {
  color: none;
  font-family: Source Serif Pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  background-color: #dedfe0;
} 


.homelogo {
	display: initial;
	background-color: initial;
    
}

a.homelogo {
	display: initial;
	background-color: initial;
	text-decoration: none;
  opacity: 1;
  transition: 0s;
  margin-top: 0px;
  padding-top: 0px
	
}

a.homelogo:link {
	display: initial;
	background-color: initial;
  
}

a.homelogo:visited {
	display: initial;
	background-color: initial;
  
}

a.homelogo:hover{
  display: initial;
  background-color: initial;
  text-decoration: none;
  background-color: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 1;
  
}

a.homelogo:active {
  display: initial;
}

.homerun{
  color: black;
  background-color: none;
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.homerun2{
  padding-bottom: 0px;
  color: black;
  background-color: none;
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.aboutsection {
  background-color: #ffffff;
  margin-top: 0px;
  padding: 0px;
}

.aboutheading {
  background-color: #ffffff;
}

.contact {
  padding: 4px;
  text-align: left;
}

.padding-right {
  padding-right: 8px;
}

.serif-contact-small {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.serif-contact {
  font-family: Source Serif Pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}
/*-------------------------
  FORM STYLING STARTS HERE
---------------------------/*

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #71c447;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.center {
  text-align: center;
}

.leftjustify {
  text-align: left;
}

.rightjustify {
  text-align: right;
}

.container {

  border-radius: 5px;
  border-color: #b8c5db;
  border: 1px;
  border-style: solid;
  background-color: #eaebe1;
  padding: 20px;
  width: 400px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
  /*margin not working here for top or right /* 
  margin-top: 20px;*/
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.phonestyle  {
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  background-color: none;
}

a.phonestyle {
  background-color: white;
}

a.phonestyle:link {

  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  background-color: none;
  color: black;
  text-decoration: underline;
  margin-top: 0px;
  padding-top: 0px
}

a.phonestyle:visited {
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  background-color: none;
}

a.phonestyle:hover {
  color: #71c447;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  background-color: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

a.phonestyle:active {
  color: black;
  font-family: poynter-gothic-text, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  background-color: none;
} 
